@import "./base.css";
/* navbar*/
body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
header{
    box-shadow: 10px 10px 5px #aaaaaa;
}

header .row {
    color: black;
    padding: 23px 0px;
    justify-items: center;
    align-items: center;
  }
  header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  header .logo i {
    display: none;
  }
  header .elements {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    font-size: 14px;
    font-family: "Space Grotesk", sans-serif;
  }
  header .elements a {
    color: #141718;
    font-weight: 600;
  }
  header .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }
  header .CartButton {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3px;
    position: relative;
  }
  header .notification {
    height: 14px;
    width: 15px;
    border: #141718 solid 1px;
    border-radius: 17px;
    background-color: #141718;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: -15px;
    right: -15px;
  }
  @media screen and (max-width: 450px) {
    header .icons .search {
      display: none;
    }
  }
  @media screen and (max-width: 800px) {
    header .elements {
      display: none;
    }
    .container {
      width: calc(100% - 100px) !important;
    }
    header .logo i {
      display: block;
    }
  }
  @media screen and (max-width: 992px) {
    .container {
      width: calc(100% - 180px);
    }
  }
  @media screen and (max-width: 1100px) {
    .container {
      width: calc(100% - 180px);
    }
  }

.displayCategories .category{
    width: 25%;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    background-color: rgb(231, 47, 47);
    a{
        color: black;
        font-weight: 500;
        text-decoration: none;
        font-size: large;
        font-family:var(--mainFont);
    }
    
}
.displayCategories .category:hover{
    background-color: rgb(100, 88, 230);
}
.displayProducts h2{
    background-color:rgb(255, 7, 7);
    padding: 20px;
    text-align: center;
}
.displayProducts .row{
    padding-top: 40px;
}
.displayProducts .product{
    width: 25%;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    background-color: rgb(231, 47, 47);
    
}
.displayProducts .priceAndStock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: var(--subFont);
}